/* this style file is referenced in the index.html file and will be sent to the client */

body {
    background-color: salmon;
}

.title {
    color: black;
}

.main-text {
    color: black;
    font-style: italic;
}

.small-text {
    color: salmon;
    font-style: italic;
    font-size: 0.5rem;
}